[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

slackclient = "*"
"beautifulsoup4" = "*"
requests = "*"
"urllib3" = "*"


[dev-packages]



[requires]

python_version = "3.6"
