[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

slackclient = "*"
beautifulsoup4 = "*"
requests = ">=2.20.0"
urllib3 = ">=1.23"


[dev-packages]



[requires]

python_version = "3.7"
